.title {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(var(--title_gradient));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bolder;
  text-align: left;
  font-size: 2em;
  padding: 20px 0;
}

.footer img {
  background-color: #08486b;
  width: 35px;
  height: 35px;
  padding: 10px;
  border: 10px solid #13293e;
  border-radius: 100%;
  position: relative;
  margin-top: -40px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #13293e;
  color: #fff;
  border-radius: 35px 35px 0 0;
}

.footer-title h2 {
  margin: 0 50px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content ul li {
  list-style: none;
}

.footer-content ul {
  margin: 0 50px;
}
.footer-content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
