@charset "UTF-8";

:root {
    --title_gradient:#13293d, #0a4769, #0a4769, #1b98e0, #e8f1f2;
    --gradient: 120deg, #13293d, #0a4769, #0a4769, #1b98e0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-navbar {
    background-color: #13293E;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 35px 35px;
}



.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.main-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    width: 50%;
    text-align: justify;
}

.title {
    background-image: linear-gradient(#13293d, #0a4769, #0a4769, #1b98e0, #e8f1f2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-align: left;
    font-size: 2em;
    padding: 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-content button {
    border: 5px;
    border-radius: 30px;
    padding: 10px;
    font-weight: 600;
    font-size: 2em;
    background-color: #08486B;
    
}
.main-content button a {
    color: #e8f1f2;
    text-decoration: none;
}


.form-login {
    background-image: linear-gradient(var(--gradient));
    border-radius: 0 45px 0 45px;
    height: 250px;
    width: 350px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px 0 ;
    color: #fff;
}

.form-login input {
    width: 300px;
    height: 2em;
}
.form-login input:focus {
    outline: none;
}

.main-footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-footer img {
    background-color:#08486B;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: 10px solid #13293E;
    border-radius: 100%;
    position: relative;
    margin-bottom:-40px;
}
.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px 0;
    width: 100%;
    background-color: #13293E;
    color: #fff;
    border-radius:35px 35px 0 0;
}

.footer-content h2 {
    color: #0c6493;
    font-weight: 700;
}
.footer-content ul li {
    list-style: none;
}