.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.main-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 40px;
    width: 50%;
    text-align: justify;
}

.title {
    background-image: linear-gradient(#13293d, #0a4769, #0a4769, #1b98e0, #e8f1f2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-align: left;
    font-size: 2em;
    padding: 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-content button {
    border: none;
    border-radius: 20px;
    padding: 0 30px;
    font-weight: 600;
    font-size: 1em;
    background-color: #08486B;
    color: #fff;
    
}
.main-content button a {
    color: #e8f1f2;
    text-decoration: none;
}

button#btn-title a{
    border: 5px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 2em;
    background-color: #08486B;
}


.form-login {
    background-color: #13293d;
    border-radius: 25px;
    width: 350px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    margin: 20px 0 ;
    color: #fff;
}

.form-login input {
    width: 300px;
    height: 2em;
}
.form-login input:focus {
    outline: none;
}
